* { margin: 0px; padding: 0px; font-family: Arial, Helvetica, Sans-Serif; font-size: 1em; color: #333; } 
body.site { background-color: #34559A; }
body.admin { background-color: #666; }

/* Common Styles
----------------------------------------------------------------*/
#success { background-color: #E2F9E3; color: #060;  background-image: url(images/accept.png); background-position: 8px center; background-repeat: no-repeat; padding: 8px; width: 80%; margin: 4px auto; border: solid 1px #9ADF8F; text-indent: 24px; }
#error { background-color: #FFEDEF; color: #600;  background-image: url(images/cancel.png); background-position: 8px center; background-repeat: no-repeat; padding: 8px; width: 80%; margin: 4px auto; border: solid 1px #DF8F8F; text-indent: 24px; }
#info  { background-color: #E1EBF4; color: #036;  background-image: url(images/information.png); background-position: 8px center; background-repeat: no-repeat; padding: 8px; width: 80%; margin: 4px auto; border: solid 1px #a2b4ee; text-indent: 24px; }
div.validation-summary-errors { background-color: #FFEDEF; color: #600;  background-image: url(images/cancel.png); background-position: 8px center; background-repeat: no-repeat; padding: 8px; width: 80%; margin: 4px auto; border: solid 1px #DF8F8F; text-indent: 24px; }
div.validation-summary-errors ul { list-style-type: none; }
div.validation-summary-valid { display: none; }
p { padding: 1em; }

/* Master Styles
----------------------------------------------------------------*/
#page-container { width: 990px; margin: auto; background-image: url(images/bg_drop_shadow.png); background-repeat: repeat-y; }
#page { width: 960px; margin: auto; background-color: #FFF; }
#main-menu { background-color: #000; background-repeat: repeat-x; padding: 5px; color: #CCC; font-weight: bold; }
#main-menu ul { list-style-type: none; }
#main-menu ul li { display: inline; padding: 0px 12px; }
#main-menu ul li a { color: #CCC; text-decoration: none; }
#main-menu ul li a:hover { color: #FFF; }
#head { background-image: url(images/peacekeaper_head.jpg);height: 200px; }
#head #logo-link { position: relative; display: inline-block; margin: 45px 0px 0px 12px; font-size: 2.25em; font-weight: bold; color: #000; text-decoration: none; }
#head #logo-link:hover { color: #333; }
#content { padding: 8px; color: #333; }
#foot { background-color: #CCC; padding: 5px; }
#foot #copyright { color: #999; font-size: .75em; }
#bottom { background-image: url(images/bg-shadow-bottom.png); width: 990px; margin: auto; height: 18px; }

#admin-head { background-color: #34559A; color: #FFF; font-weight: bold; font-size: 1.25em; padding: 8px; }

/* Home Page Styles
----------------------------------------------------------------*/
#clarissa { width: 293px; height: 300px; background-image: url(images/clarissa.jpg); float: left; }
#slideshow-container { background-image: url(images/rotator_bg.gif); background-position: top right; width: 645px; height: 300px; color: #FFF; float: right; }
#slideshow-description { width: 190px; float: left; padding: 8px; font-size: .75em; }
#slideshow-description p { padding: 3px 0px; }
#slideshow { position: relative; width: 420px; height: 280px; margin-top: 10px; margin-right: 10px; float: right; } 
#slideshow img { position:absolute; top:0px; left:0px; display:none; }

#choices {  }
#choices .choice { width: 208px; margin: 5px; border: solid 1px #CCC; float: left; padding: 8px; }
#choices .choice a { display: block; text-decoration: none; font-weight: bold; width: 200px; height: 65px; margin: auto; color: #FFF; background-position: left top; }
#choices .choice a:hover { background-position: left bottom; }
#choices .choice a#exam { background-image: url(images/exam.gif); } 
#choices .choice a#proctor { background-image: url(images/proctor.gif); } 
#choices .choice a#signup { background-image: url(images/register.gif); } 
#choices .choice a#store { background-image: url(images/shop.gif); } 
#choices .choice p { padding: 4px; font-size: .9em; }

#partners { clear: both; width: 675px; margin: auto; }
#partners img { padding: 8px 25px; } 

/* Login Page Styles
-----------------------------------------------------------------*/
div#login-top { background-image: url(images/login_bg_top.png); width: 455px; margin: auto; height: 18px; margin-top: 200px; }
div#login { background-image: url(images/login_bg.png); width: 455px; margin: auto; padding: 12px 0px; }
div#login-head { width: 409px; background-color: #34559A; color: #FFF; font-weight: bold; font-size: 1.1em; margin: auto; padding: 8px; margin-top: -12px; }
div#login form { width: 255px; margin: auto; padding: 8px; }
div#login form label { display: block; font-weight: bold; }
div#login form input { margin-bottom: 4px; }
div#login form input[type="text"],
div#login form input[type="password"] { width: 250px; }
div#login form label[for="remember"] { font-size: .8em; display: inline; vertical-align: top; color: #999; font-weight: normal; }
div#login form input[type="submit"] { padding: 3px; float: right; }
div#login-foot { clear: both; width: 415px; background-color: #E1EBF4; font-size: .75em; margin: auto; padding: 4px; margin-bottom: -12px; }
div#login-foot a { color: #A2B4EE; text-decoration: none; }
div#login-foot a:hover { color: #00C; }
div#login-bottom { background-image: url(images/login_bg_bottom.png); width: 455px; margin: auto; height: 18px; }
div#login .validation-summary-errors { width: 375px; position: relative; margin-left: -70px; margin-bottom: 8px; }