@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

This is the administrative control panel.

<div id="success">This is a success message!</div>
<div id="error">This is an error message!</div>
<div id="info">These are instructions and informational messages.</div>
