<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner"
               type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>

  <appSettings>
    <add key="applicationPath" value="Web.UI"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="Default" connectionString="data source=.;initial catalog=testdb;user id=db-user;password=db-pass;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>