body
    background-color #FFF

nav.main-nav
    background-color #EEE
    ul
        li
            list-style-type none
            display inline-block
            margin 1rem
            a
                color green
                padding 1rem
                &:hover
                    color #FFF
                    background-color green
